<div ng-controller="simpleCtrl" style="background-color: white;">
    <h1>Customer Maintenance</h1>
    <div class="row">
        <div class="col-md-24">
                    <smart-data-source 
                        smart-object-name='customerDataSource' 
                        smart-business-entity-name="Consultingwerk.SmartComponentsDemo.OERA.Sports2000.CustomerBusinessEntity"
                        smart-entity-table="eCustomer" smart-entity-view="eSalesrep"></smart-data-source>
                    <smart-grid 
                        smart-object-name='customerGrid' 
                        smart-data-source='customerDataSource' 
                        smart-grid-layout='Consultingwerk.SmartComponentsDemo.OERA.Sports2000.CustomerBusinessEntity/customer'></smart-grid>
        </div>
        <div class="col-md-24">
                <smart-toolbar
                        smart-object-name='customerToolbar'></smart-toolbar>
                <smart-viewer 
                        smart-object-name='customerViewer' 
                        smart-data-source='customerDataSource'
                        smart-tableio-source='customerToolbar'
                        smart-viewer-template='Consultingwerk/SmartComponentsDemo/Web2/Views/CustomerViewer.html'></smart-viewer> 
        </div>
    </div>
</div>

